body {
	margin: 0;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
	color: #181B1C;
    text-decoration: none;
}
.left {
	width: 22%;
	height: 80px;
	margin: 15px 5% 15px 17%;
	padding: 3%;
	background: #4d7f7b;
	display: inline-block;
    border-radius: 18px;
}

.right {
	width: 22%;
	height: 80px;
	margin: 15px 15% 15px 5%;
	padding: 3%;
	background: #4d7f7b;
	display: inline-block;	
    border-radius: 18px;
}

.statement {
    background: #8be5dd;
    border-radius: 18px;
    width: 40%;
    margin: 0 30% 20px 30%;
    padding: 3px 1% 3px 1%;
}

#statementLine {
    color: black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 20pt;
}

a.buttonLink {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: block;
    vertical-align: middle;
    margin-bottom: auto;
}

#welcome {
    width: 100;
    display: block;
}

#headerimg {
	width: 20%;
	height: auto;
    margin: 10px auto 0 auto;
    display: block;
}
